# Kernel modules
*.ko
*.mod.c
*.mod.o
*.o
Module.symvers
modules.order

# Compiled test apps
app/test_led_rw
app/test_blocking
app/test_poll
app/test_async
app/test_key
app/test_ap3216c

# Compiled device tree
*.dtb
*.dtbo

# IDE / editor
.vscode/
*.swp
*.swo
.DS_Store
